﻿[hidden] {
    display: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

div.autocomplete {
    display: inline-block;
    position: relative;
}

    div.autocomplete > input {
        background-color: inherit;
        border-color: #ccc;
        border-radius: 5px;
        border-width: medium;
        box-sizing: border-box;
        left: 0;
        outline: medium none;
        padding: 0;
        width: inherit;
        /*margin: 5px;
        top: 0;*/
        display: block;
    }

    div.autocomplete > ul {
        position: absolute;
        left: 0;
        z-index: 1;
        min-width: 100%;
        box-sizing: border-box;
        list-style: none;
        padding: 0;
        border-radius: .3em;
        margin: .2em 0 0;
        background: hsla(0,0%,100%,.9);
        background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8));
        border: 1px solid rgba(0,0,0,.3);
        box-shadow: .05em .2em .6em rgba(0,0,0,.2);
        text-shadow: none;
    }

        div.autocomplete > ul[hidden],
        div.autocomplete > ul:empty {
            display: none;
        }


    div.autocomplete > ul {
        transition: .3s cubic-bezier(.4,.2,.5,1.4);
        transform-origin: 1.43em -.43em;
    }

        div.autocomplete > ul[hidden],
        div.autocomplete > ul:empty {
            opacity: 0;
            transform: scale(0);
            display: block;
            transition-timing-function: ease;
        }


        /* Pointer */
        div.autocomplete > ul:before {
            content: "";
            position: absolute;
            top: -.43em;
            left: 1em;
            width: 0;
            height: 0;
            padding: .4em;
            background: white;
            border: inherit;
            border-right: 0;
            border-bottom: 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        div.autocomplete > ul > li {
            width: 100%;
            position: relative;
            padding: .2em 0em .2em 0em;
            cursor: pointer;
        }

            div.autocomplete > ul > li:hover {
                background: hsl(200, 40%, 80%);
                color: black;
            }

            div.autocomplete > ul > li[aria-selected="true"] {
                background: hsl(205, 40%, 40%);
                color: white;
            }

    div.autocomplete li:hover mark {
        background: hsl(68, 101%, 41%);
    }

    div.autocomplete li[aria-selected="true"] mark {
        background: hsl(86, 102%, 21%);
        color: inherit;
    }

ul.tag {
}

.tag-label {
    padding-right: 12px;
}

ul.tag li {
    display: block;
    float: left;
}

    ul.tag li.tag-choice {
        border: 1px solid #dddddd;
        font-weight: bold;
        line-height: inherit;
        padding: 0.2em 10px 0.2em 0.5em;
    }

    ul.tag li.tag-new {
        margin: 5px;
    }

.tag-close {
    cursor: pointer;
}
